.row-header{
	margin: 0px auto;
	padding: 0px auto;
}
.row-content{
	margin: 0px auto;
	padding:50px 0px;
	border-bottom: 1px ridge;
	min-height: 100px;
}
.row-content-title{
	margin: auto;
	padding: 20px;
}
.footer{
	background-color: #e5e5e5;
	margin: 0px auto;
	padding: 20px 0px;
}
.jumbotron{
	padding: 70px 30px;
	margin: 0px;
}
body{
	padding-top: 50px;
	z-index: 0;
}
.navbar-dark{
	background: #888888;
}
.breadcrumb{
	margin: 0px;
	padding: 5px;
}
.nav-link{
	color: rgb(202, 202, 202);
}
.nav-link:hover{
	color: rgb(129, 129, 129);
}
.carousel{
	background: #ddd;
}
.carousel-item{
	min-height: 200px;
}
.carousel-item img{
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
}
.carousel-control-width{
	width: 50px;
}